<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <a href="/login" style="color: rgb(22, 187, 16)">Back</a>
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                      
                        <% if (errMessage) { %>
                            <div class="user-message user-message--error"><%= errMessage %></div>
                        <% } %>
                      <form action="/reset" class="reset-form" method="post">

                        <div class="mb-md-5 mt-md-4 pb-5">
                          
                          <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>

                          <p class="text-50 mb-5">Please enter your email</p>

                          <div class="form-outline form-white mb-4">
                              <label class="form-label" for="email">Email</label>
                              <br>
                              <i class="fa-solid fa-user"></i>
                              <input type="email" id="email" name="email" class="form-control form-control-lg" />
                          </div>
            
                          <button class="btncustom btn-outline-light btn-lg px-5" type="submit" 
                          name="_csrf" value="<%= csrfToken %>">Next</button>
    
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <%- include('../includes/end.ejs') %>
